body {
  font-family: "Poppins", sans-serif;
  background-color: #264251;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  padding: 100px;
}

.grid {
  display: grid;
  grid-gap: 50px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../Images/snowy-vancouver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #fff;
  text-align: center;
  width: 100%;
}
header h1 {
  font-size: 90px;
  line-height: 1;
  margin: 0 0 30px;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: azure;
  color: #000;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  padding: 16px 32px;
  letter-spacing: 4px;
  border: 1px solid #fff;
}
header a:hover {
  background-color: rgba(240, 255, 255, 0.664);
  border: 1px solid #fff;
  transition: 230ms ease-in-out;
}
main {
  background-color: #ffffffc7;
}
main img {
  width: 90%;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #264251d5;
}
main h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
  color: #264251;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #264251;
}
main h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #264251;
}
main p,
main a {
  color: #264251d5;
}
main .icons {
  text-align: center;
  padding-top: 30px;
  color: #264251ce;
}
main .secondary {
  background-color: #d8e7ec;
  text-align: center;
}
.card {
  background-color: #ffffffe3;
  padding: 30px 0 20px 0;
}
.card-header {
  grid-gap: 0;
  padding: 10px;
}
.embed {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.card img {
  width: 100%;
}

.btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #3b6377;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 14px 7px;
  max-width: 200px;
  text-decoration: none;
  border-radius: 2px;
}
.btn:hover {
  background-color: #264251;

  transition: 230ms ease-in-out;
}
footer {
  background-image: linear-gradient(
      rgba(19, 18, 24, 0.7),
      rgba(25, 25, 54, 0.7)
    ),
    url("../Images/english-bay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
  width: 100%;
}
footer h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer ul {
  padding: 0;
  max-width: 70%;
}
footer li {
  list-style: none;
  line-height: 28px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer div {
  max-width: 350px;
}
footer a:hover {
  text-decoration: none;
  color: #264251;
}

.signature a {
  text-decoration: underline;
}
.signature a:hover {
  color: #fff;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 18px;
  }
  header a {
    font-size: 12px;
    padding: 10px 25px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .embed {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .card-header img {
    display: none;
  }
  main img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  main h2 {
    font-size: 12px;
    text-align: center;
  }
  main h3 {
    font-size: 22px;
    text-align: center;
    padding-right: 20px;
  }
  main p {
    font-size: 14px;
    padding-right: 10px;
    text-align: center;
  }
  footer p,
  footer ul {
    font-size: 14px;
  }
  section {
    padding: 30px 0 30px 40px;
  }
}
